/*
* === PALETA DE COLORES GRAL ===
*/

:root {
    --gris-1 : #363636;
    --gris-2 : #666666;
    --gris-3 : #797979;
    --gris-4 : #CECECE;
    --gris-5 : #E9E9E9;
    --gris-6 : #F6F6F6;
    --rojo-1 : #E4002B;
    --rojo-2 : #D4002B;
    --degradado-rojo : #fce8ed;
    --naranja-secundario : #FF7D00;
    --verde-secundario : #007A6E;
    --verde-primario : #959E53;
    --amarillo-secundario : #FFBB24;

    --generic-width: 80%;
    --generic-font: "Roboto";
    --genetic-font-size : 12px;
}

.main-card-container{
    width: var(--generic-width);
    height: fit-content;
    background-color:#ffff;
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
}

.main-card-head{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   height: fit-content;
   color: var(--rojo-2);
   padding: 1rem;
   padding-bottom: 0;
}

.main-card-head p{
    margin: 0;
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--generic-font);
    font-size: var(--genetic-font-size);
}

.main-card-header{
    font-family: var(--generic-font);
    font-size:var(--genetic-font-size);
    position: relative;
}

.main-card-tag{
    font-weight: bold;
    color: var(--gris-1);
}

.main-card-desc {
    color: var(--gris-3);
}

.datos-generales-dates-container{
    font-family: var(--generic-font); 
    padding-bottom: .7rem;
    margin-bottom: .7rem;
    border-bottom: 2px solid var(--gris-5);
    font-size: var(--genetic-font-size);
}

.datos-generales-dates-tag{
    font-weight: bold;
    color: var(--gris-2)
}

.datos-generales-dates-desc{
    color: var(--gris-3)
}

.cta-corriente-header-tag{
    font-family: var(--generic-font);
    font-size: var(--genetic-font-size);
    font-weight: bold;
    color: var(--gris-2)
}

.cta-corriente-header-desc{
    font-family: var(--generic-font);
    font-size: var(--genetic-font-size);
    color: var(--gris-3)  
}

.datos-generales-details{
    color: var(--gris-2);
    font-family: var(--generic-font); 
    font-size: var(--genetic-font-size);
}

.datos-generales-details div:nth-child(2){
    color: var(--rojo-2);
}

.incidentes-button-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.incidentes-title{
    color:var(--gris-3);
    border-bottom: 2px solid var(--gris-5);
    margin-top: 1rem;
}

.incidentes-title p{
    font-weight: bold;
    font-size: 14px;
}

.incidentes-counter{
    padding-top: 0;
}

.incidentes-counter p{
    color : var(--gris-3);
    font-weight: bold;
    margin: 0;
    font-size:var(--genetic-font-size);
}

.incidentes-date-picker-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: .4rem;
    padding-right: .4rem;
    width: 100%;

}

.incidentes-date-picker-wrapper p{
    color: var(--gris-3);
    font-family: var(--generic-font);
    width: 100%;
    font-size: var(--genetic-font-size);
    margin: 0;
}

.search-card-align{
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

.search-card-align div{
    padding-right: .7rem;
}

.tab-car-endosos-counter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1rem;
}

.tab-car-endosos-counter p{
    margin: 0;
    font-family:var(--generic-font);
    color: var(--gris-1);
    font-weight: bold;
}

.tabcard-print-icon{
    font-size: 1.5rem;
    color: var(--gris-3);
}

.textos-container{
    width:100%;
    font-family: var(--generic-font);
}

.textos-container h6{
   color: var(--verde-primario);
   font-weight: bold;
}

.textos-container p{
    
    color: var(--gris-3);
    font-size: var(--genetic-font-size);
 }
 


